*{
    margin: 0px;
    padding: 0px;
}
.body{
    background-color: rgb(1, 1, 87);
    color: white;
    font-family: arial;
}
.titulo{
    text-align: center;
}
.bt_enviar{
    margin-top:5px;
    background-color: red !important;
    color: black;
    font-weight: bold;
}

input{
    display:block;
    width: 400px;
    height: 55px;
    margin: 20px;
    border-radius: 30px;
    font-size: 16pt;
    padding: 10px 20px;
    border-color: grey;;
}
.central{
    
    width: 420px;
    margin: 150px auto 0px auto;
}